extends layout

block append javascripts
	script(type="text/javascript").
		$('.price').each(function() {
			var self = $(this);
			self.text(accounting.formatMoney(self.text()));
		});

block content
	a(href="/quote/new", class="btn btn-primary") New Quote
	
	table.table(width="100%")
		thead
			tr
				th
					| Laptop
				th
					| Price
		tbody
			for quote in quotes
				tr
					td
						a(href="/quote/" + quote._id)
							= quote.laptop.name
						ul
							for option in quote.componentOptions
								li
									= option.name
					td.price
						= quote.totalPrice