extends layout
block content
	p
		a(href="/quote/new") New Quote
	
	if qoutes
		table
			thead
				tr
					th
						| Laptop
					th
						| Price
			tbody
				for quote in quotes
					tr
						td
							a(href="/quote/" + quote._id)
								= quote.laptop.name
						td
							= quote.laptop.basePrice