extends layout



block content
	h3
		= quote.laptop.name + ' '
		small
			| [
			span.price
				= quote.laptop.basePrice
			| ] 
	
	ul
		for option in quote.componentOptions
			li
				= option.name
				
				if option.price > 0
					= ' '
					small
						| [
						span.price
							= option.price
						| ]
	h4
		| Total Price: 
		span.price
			= quote.totalPrice